{% extends 'templates/app.twig' %}

{% block content %}
<h1>Rodgauer Workshop</h1>

<h2><i class="zmdi zmdi-balance-wallet"></i> Homemade FiBu {{ fibuversion|raw }}</h2>

<div class="row">
  <div class="col-12 mt-4">
    <h3>Bestandteile</h3>
    <p>
      Homemade FiBu basiert auf bzw. nutzt:
    </p>
  </div>
  <div class="container">
    <ul class="list-unstyled row no-glutters about">
      <li class="col-sm-12 col-md-6 col-lg-4">
        <a href="https://www.slimframework.com/">Slim</a>
      </li>
      <li class="col-sm-12 col-md-6 col-lg-4">
        <a href="https://www.slimframework.com/docs/v3/cookbook/database-eloquent.html">Eloquent</a>
      </li>
      <li class="col-sm-12 col-md-6 col-lg-4">
        <a href="https://respect-validation.readthedocs.io/en/1.1/">Respect\Validation</a>
      </li>
      <li class="col-sm-12 col-md-6 col-lg-4">
        <a href="https://twig.symfony.com/">Twig</a>
      </li>
      <li class="col-sm-12 col-md-6 col-lg-4">
        <a href="https://getbootstrap.com/">Bootstrap</a>
      </li>
      <li class="col-sm-12 col-md-6 col-lg-4">
        <a href="http://zavoloklom.github.io/material-design-iconic-font/index.html">Material Design Iconic Font</a>
      </li>
      <li class="col-sm-12 col-md-6 col-lg-4">
        <a href="https://datatables.net/">Data Tables</a>
      </li>
      <li class="col-sm-12 col-md-6 col-lg-4">
        <a href="https://jqueryvalidation.org/">jQuery Validation Plugin</a>
      </li>
      <li class="col-sm-12 col-md-6 col-lg-4">
        <a href="https://github.com/vsn4ik/bootstrap-submenu">Bootstrap Submenu</a>
      </li>
    </ul>
  </div>
  <div class="col-12">
    <h3>Lizenz</h3>
    <p>
      Diese Software steht unter einer <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode.de">Creative
      Commons Namensnennung-Share Alike 4.0 International Public License</a>.
    </p>
  </div>
</div>


{% endblock %}

{% block javascript %}
{% endblock %}
