{% extends 'templates/app.twig' %}

{% block content %}
{% include 'templates/partials/choose_workshop_form.twig' %}

<h1>Rodgauer Workshop</h1>

<h2><i class="zmdi zmdi-money-box"></i> Finanzübersicht</h2>

<table class="overview" width="100%">
  <tr>
    <th width="100px">Workshop</th>
    <td width="180px">{{ workshop.name }}</td>
    <th width="100px">Einnahmen</th>
    <td width="100px" class="text-right">{{ sums.income|number_format(2, ',', '.') }} €</td>
    <td rowspan="3" style="padding: 0 4em;">
      <ul class="chart">
        <li>
          <span style="height:{{bars.income*100}}%" title="Einnahmen" class="bg-success"></span>
        </li>
        <li>
          <span style="height:{{bars.expense*100}}%" title="Ausgaben" class="bg-danger"></span>
        </li>
      </ul>
    </td>
    <td width="200px">
      <a href="{{ path_for('entry.index') }}" class="btn btn-success btn-block text-left"><i
          class="zmdi zmdi-balance-wallet"></i> Umsätze erfassen</a>
    </td>
  </tr>
  <tr>
    <th>Jahr</th>
    <td>{{workshop.year}}</td>
    <th>Ausgaben</th>
    <td class="text-right">{{ sums.expense|number_format(2, ',', '.') }} €</td>
    <td>
      <a href="{{ path_for('entry.report.short') }}" class="btn btn-primary btn-block text-left"><i
          class="zmdi zmdi-chart"></i> Kurze Auswertung</a>
    </td>
  </tr>
  <tr>
    <th>Status</th>
    <td>
      {{ workshop.status == 'open' ? '<i class="zmdi zmdi-play text-success"></i> offen' : '<i class="zmdi zmdi-pause text-danger"></i> beendet' }}
    </td>
    <th>Ergebnis</th>
    <td class="text-right" {{ sums.delta < 0 ? ' style="color: #ff0000;"' : '' }}>
      {{ sums.delta|number_format(2, ',', '.') }} €</td>
    <td>
      <a href="{{ path_for('entry.report.full') }}" class="btn btn-primary btn-block text-left"><i
          class="zmdi zmdi-chart"></i> Detailierte Auswertung</a>
    </td>
  </tr>
</table>

<p>
  &nbsp;
</p>

<h2><i class="zmdi zmdi-balance-wallet"></i> Letzte Buchungen</h2>

<table class="table table-hover table-responsive-md table-sm table-striped" id="entryTable">
  <thead>
    <tr>
      <th>
        Datum
      </th>
      <th>
        Text
      </th>
      <th>
        Kontakt / Kategorie
      </th>
      <th>
        Einnahmen
      </th>
      <th>
        Ausgaben
      </th>
    </tr>
  </thead>
  <tbody>
    {% for entry in entries %}
    <tr>
      <td>
        {{ entry.date|date("d.m.Y") }}
      </td>
      <td>
        {{ entry.title }} <br />
        {{ entry.title2 }}
      </td>
      <td>
        {{ entry.contact }}<br />
        {{ entry.category }}
      </td>
      <td class="text-right">
        {{ entry.income == 0 ? '' : entry.income|number_format(2, ',', '.') }}
      </td>
      <td class="text-right">
        {{ entry.expense == 0 ? '' : entry.expense|number_format(2, ',', '.') }}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}

{% block javascript %}
{% include 'templates/partials/choose_workshop.twig' %}
{% endblock %}