{% extends 'templates/app.twig' %}

{% block content %}
<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <div class="card-header">
        <h3 class="card-titel"><i class="zmdi zmdi-key"></i> Passwort ändern</h3>
      </div>
      <div class="card-body">
        <form action="{{ path_for('auth.change_pwd') }}" method="post">
          <input type="hidden" name="id" id="id" value="{{ old.id ? old.id : id }}" />
          <div class="form-group">
            <label for="password">Passwort</label>
            <input type="password" name="password" id="password" value="" class="form-control{{ validation.password ? ' is-invalid':''}}" />
            {% if validation.password %}<span class="form-text text-danger">{{ validation.password | first }}</span>{% endif %}
          </div>
          <button type="submit" class="btn btn-default">Abschicken</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
