{% extends 'templates/app.twig' %}

{% block content %}
<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <div class="card-header">
        <h3 class="card-titel"><i class="zmdi zmdi-account"></i> Benutzer ändern</h3>
      </div>
      <div class="card-body">
        <form action="{{ path_for('auth.edit') }}" method="post">
          <input type="hidden" name="id" id="id" value="{{ old.id ? old.id : user.id }}" />
          <input type="hidden" name="login" id="login" value="{{ old.login ? old.login : user.login }}" />
          <div class="form-group">
            <label for="email">E-Mail</label>
            <input type="email" name="email" id="email" placeholder="your@email.com" value="{{ old.email ? old.email : user.email }}"" class="form-control{{ validation.email ? ' is-invalid':''}}" />
            {% if validation.email %}<span class="form-text text-danger">{{ validation.email | first }}</span>{% endif %}
          </div>
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" placeholder="Vorname Nachname" value="{{ old.name ? old.name : user.name }}" class="form-control{{ validation.name ? ' is-invalid':''}}" />
            {% if validation.name %}<span class="form-text text-danger">{{ validation.name | first }}</span>{% endif %}
          </div>
          <button type="submit" class="btn btn-default">Abschicken</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
