{% extends 'templates/app.twig' %}

{% block content %}
<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <div class="card-header">
        <h3 class="card-titel">Login</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-3">
            <img src="{{ base_url() }}/img/logo.svg" alt="RW" title="Rodgauer Workshop" height="70%" class="pt-2" />
          </div>
          <div class="col-9">
            <form action="{{ path_for('auth.login') }}" method="post">
              <div class="form-group">
                <label for="login">Login-Name</label>
                <input type="text" name="login" id="login" placeholder="Login" value="{{ old.login }}"
                  class="form-control{{ validation.login ? ' is-invalid':''}}" />
                {% if validation.login %}<span class="form-text text-danger">{{ validation.login | first }}</span>{%
                endif %}
              </div>
              <div class="form-group">
                <label for="password">Passwort</label>
                <input type="password" name="password" id="password" value=""
                  class="form-control{{ validation.password ? ' is-invalid':''}}" />
                {% if validation.password %}<span class="form-text text-danger">{{ validation.password | first
                  }}</span>{% endif %}
              </div>
              <button type="submit" class="btn btn-default">Anmelden</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}