{% extends 'templates/app.twig' %}

{% block content %}
<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <div class="card-header">
        <h3 class="card-titel">Benutzer registrieren</h3>
      </div>
      <div class="card-body">
        <form action="{{ path_for('auth.register') }}" method="post">
          <div class="form-group">
            <label for="email">E-Mail</label>
            <input type="email" name="email" id="email" placeholder="your@email.com" value="{{ old.email }}" class="form-control{{ validation.email ? ' is-invalid':''}}" />
            {% if validation.email %}<span class="form-text text-danger">{{ validation.email | first }}</span>{% endif %}
          </div>
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" placeholder="Vorname Nachname" value="{{ old.name }}" class="form-control{{ validation.name ? ' is-invalid':''}}" />
            {% if validation.name %}<span class="form-text text-danger">{{ validation.name | first }}</span>{% endif %}
          </div>
          <div class="form-group">
            <label for="login">Login-Name</label>
            <input type="text" name="login" id="login" placeholder="Login" value="{{ old.login }}" class="form-control{{ validation.login ? ' is-invalid':''}}" />
            {% if validation.login %}<span class="form-text text-danger">{{ validation.login | first }}</span>{% endif %}
          </div>
          <div class="form-group">
            <label for="password">Passwort</label>
            <input type="password" name="password" id="password" value="" class="form-control{{ validation.password ? ' is-invalid':''}}" />
            {% if validation.password %}<span class="form-text text-danger">{{ validation.password | first }}</span>{% endif %}
          </div>
          <button type="submit" class="btn btn-default">Abschicken</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
