{% extends 'templates/app.twig' %}

{% block content %}
<h2><i class="zmdi zmdi-accounts"></i> Benutzerverwaltung</h2>

<p>
  <a href="{{path_for('auth.register')}}" class="btn btn-success btn-sm"><i class="zmdi zmdi-account-add"></i> Benutzer anlegen</a>
</p>

<table class="table table-hover table-responsive-md" id="datatable">
  <thead>
    <tr>
      <th>
        Login
      </th>
      <th>
        Name
      </th>
      <th>
        E-Mail
      </th>
      <th>
        Letztes Login
      </th>
      <th data-orderable="false">

      </th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <td>
        {{ user.login }}
      </td>
      <td>
        {{ user.name }}
      </td>
      <td>
        {{ user.email }}
      </td>
      <td>
        {{ user.last_login }}
      </td>
      <td>
        <a href="{{path_for('auth.edit')}}?id={{user.id}}" class="btn btn-primary btn-sm"><i class="zmdi zmdi-edit"></i></a>
        <a href="{{path_for('auth.change_pwd')}}?id={{user.id}}" class="btn btn-primary btn-sm"><i class="zmdi zmdi-key"></i></a>
        <a href="{{path_for('auth.delete')}}?id={{user.id}}" class="btn btn-danger btn-sm remove-item" data-toggle="modal" data-target="#modalSicher" data-item="{{user.name}} ({{user.login}})" data-action="löschen"><i class="zmdi zmdi-delete"></i></a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}


{% block javascript %}
<script type="text/javascript">
  $(document).ready(function() {
    $('#datatable').DataTable({
      "language" : {
        "lengthMenu": "Zeige _MENU_ Zeile pro Seite",
        "zeroRecords": "Keine Daten gefunden!",
        "info": "Seite _PAGE_ von _PAGES_",
        "infoEmpty": "Keine Daten vorhanden!",
        "infoFiltered": "(gefiltert von _MAX_ Gesamtzeilen)"
      }
    });
  } );
</script>
{% endblock %}
