{% extends 'templates/app.twig' %}

{% block content %}
{% include 'templates/partials/choose_workshop_form.twig' %}

<br style="float: clear;" />

<h2><i class="zmdi zmdi-balance-wallet"></i> Umsätze</h2>

<table class="table table-hover table-responsive-md table-sm table-striped" id="entryTable">
  <thead>
    <tr>
      <th>
        Datum
      </th>
      <th>
        Text
      </th>
      <th>
        Kontakt / Kategorie
      </th>
      <th>
        Einnahmen
      </th>
      <th>
        Ausgaben
      </th>
      <th data-orderable="false">

      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        19.11.2018
      </td>
      <td>
        Rechnung #1234567<br />
        Segeltuch
      </td>
      <td>
        Drachenladen Gmbh &amp; Co KG<br />
        Material
      </td>
      <td>

      </td>
      <td class="text-right">
        200,00
      </td>
      <td>
        <a href="#" class="btn btn-primary btn-sm editButton" data-id="{{ workshop.id }}"><i
            class="zmdi zmdi-edit"></i></a>
        <a href="#" class="btn btn-danger btn-sm remove-item delButton" data-toggle="modal" data-target="#modalSicher"
          data-item="{{ workshop.name }}" data-action="löschen"><i class="zmdi zmdi-delete"></i></a>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td class="font-weight-bold">
        200,00
      </td>
      <td class="font-weight-bold">
        200,00
      </td>
      <td>

      </td>
    </tr>
  </tfoot>
</table>

<div class="card bg-info mt-4">
  <div class="card-body">
    <form id="entryForm" enctype="multipart/form-data" method="POST">
      <div class="form-row">
        <input type="hidden" value="" name="id" id="id" />
        <div class="col-2">
          <div class="form-group">
            <label for="date">Datum</label>
            <input type="date" id="date" name="date" value="" placeholder="Datum" class="form-control" required />
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="title">Belegtext</label>
            <input type="text" id="title" name="title" value="" placeholder="Belegtext..." class="form-control"
              required />
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label for="income">Einnahmen</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">€</div>
              </div>
              <input type="number" id="income" name="income" value="" placeholder="Einnahmen"
                class="form-control values" />
            </div>
          </div>
        </div>
        <div class="col-2">
          <label for="expense">Ausgaben</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">€</div>
            </div>
            <input type="number" id="expense" name="expense" value="" placeholder="Ausgaben"
              class="form-control values" />
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-6 offset-2">
          <input type="text" id="title2" name="title2" value="" placeholder="...Belegtext" class="form-control" />
        </div>
      </div>
      <div class="form-row">
        <div class="col-6 offset-2">
          <label for="contact">Kontakt</label>
          <input type="text" id="contact" name="contact" value="" placeholder="Kontakt" class="form-control" required />
        </div>
        <div class="col-4">
          <label for="category">Kategory</label>
          <select id="category" name="category" placeholder="Kategory" class="form-control custom-select">
            <option disabled="disabled">Wähle eine Kategorie...</option>
            {% for c in categories %}
            <option value="{{ c.id }}" id="select.{{ c.id }}">{{ c.name }}</option>
            {% endfor %}
          </select>
          <!-- input type="text" id="category" name="category" value="" placeholder="Kategory" class="form-control" / -->
        </div>
      </div>
      <div class="form-row">
        <div class="col-6 offset-2 mt-3">
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="record">
            <label class="custom-file-label" for="record">Wähle eine Datei...</label>
          </div>
        </div>
        <div class="col-4 mt-3">
          <button type="submit" class="btn btn-success" id="entrySend"><i class="zmdi zmdi-mail-send"></i>
            Abschicken</button>
          <button class="btn btn-warning" id="entryReset"><i class="zmdi zmdi-replay"></i></button>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}


{% block javascript %}
<script type="text/javascript">
  $(document).ready(function () {
    var datatable = $('#entryTable').DataTable({
      "paging": false,
      "info": false,
      "scrollY": "400px",
      "processing": true,
      "ajax": "{{ path_for('entry.json.index') }}",
      "dateSrc": "data",
      "order": [0, "desc"],
      "columns": [
        {
          "data": function (row, type, val, meta) {
            if (type == 'display' || type == 'filter') {
              var part = row.date.match(/\d+/g);
              return part[2] + '.' + part[1] + '.' + part[0];
            } else {
              return row.date;
            }
          }
        },
        {
          "data": function (row, type, val, meta) {
            record = '';
            if (row.record !== null) {
              record = '<a href="{{ path_for('entry.record')}}?id=' + row.id + '" target="_blank" class="zmdi zmdi-attachment-alt" style="margin-right: 2px; width: 16px;"></a>';
            }
            if (type == 'display') {
              record = record + row.title;
              if (row.title2 !== null) {
                record = record + '<br />';
                if (row.record !== null) { record = record + '<span style="margin-left: 18px;">'; }
                record = record + row.title2;
                if (row.record !== null) { record = record + '</span>' };
              }
            } else {
              record = row.title + ' / ' + row.title2;
            }
            return record;
          }
        },
        {
          "data": function (row, type, val, meta) {
            if (type == 'display') { return row.contact + "<br />" + row.category; }
            else { return row.contact + "<br />" + row.category; }
          }
        },
        {
          "data": function (row, type, val, meta) {
            if (type == 'display') {
              if (row.income == 0) {
                return '';
              } else {
                return (row.income * 1).toLocaleString('de-DE', { minimumFractionDigits: 2, maximumFractionDigits: 2 });
              }
            } else {
              return row.income;
            }
          },
          "className": "text-right"
        },
        {
          "data": function (row, type, val, meta) {
            if (type == 'display') {
              if (row.expense == 0) {
                return '';
              } else {
                return (row.expense * 1).toLocaleString('de-DE', { minimumFractionDigits: 2, maximumFractionDigits: 2 });
              }
            } else {
              return row.expense;
            }
          },
          "className": "text-right"
        },
        {
          "data": function (row, type, val, meta) {
            attachment = '';
            if (row.record !== null) {
              attachment = '<a href="{{ path_for('entry.record.delete') }}?id=' + row.id + '" class="btn btn-danger btn-sm entry-del stroke" data-id="' + row.id + '" data-item="Beleg" data-action="löschen"><i class="zmdi zmdi-attachment-alt"></i></a> ';
            }
            edit = '<a href="#entryForm" class="btn btn-primary btn-sm entry-edit" data-id="' + row.id + '"><i class="zmdi zmdi-edit"></i></a>';
            del = '<a href="{{ path_for('entry.delete') }}?id=' + row.id + '" class="btn btn-danger btn-sm entry-del" data-id="' + row.id + '" data-item="' + row.title + '" data-action="löschen"><i class="zmdi zmdi-delete"></i></a>';
            return attachment + edit + " " + del;
          },
          "className": "text-right"
        }
      ],
      "footerCallback": function (row, data, start, end, display) {
        var api = this.api(), data;

        total_income = api
          .column(3)
          .data()
          .reduce(function (a, b) {
            return a * 1 + b * 1;
          }, 0);
        $(api.column(3).footer()).html(total_income.toLocaleString('de-DE', { minimumFractionDigits: 2, maximumFractionDigits: 2 }));

        total_expense = api
          .column(4)
          .data()
          .reduce(function (a, b) {
            return a * 1 + b * 1;
          }, 0);
        $(api.column(4).footer()).html(total_expense.toLocaleString('de-DE', { minimumFractionDigits: 2, maximumFractionDigits: 2 }));
      },
      "initComplete": function (settings, json) {
        initButtons(json);
      }
    });

    $("#entryForm").validate({
      rules: {
        "date": { required: true, dateISO: true },
        "title": { required: true },
        "contact": { required: true },
        "category": { required: true },
        "expense": { number: true, require_from_group: [1, ".values"] },
        "income": { number: true, require_from_group: [1, ".values"] },
      },
      errorElement: "em",
      errorPlacement: function (error, element) {
        // Add the `invalid-feedback` class to the error element
        error.addClass("invalid-feedback");
        if (element.prop("type") === "checkbox") {
          error.insertAfter(element.next("label"));
        } else {
          error.insertAfter(element);
        }
      },
      highlight: function (element, errorClass, validClass) {
        $(element).addClass("is-invalid").removeClass("is-valid");
      },
      unhighlight: function (element, errorClass, validClass) {
        $(element).addClass("is-valid").removeClass("is-invalid");
      },
      submitHandler: function (form) {

        formdata = new FormData(form);
        formdata.append('record', $('input[type=file]')[0].files[0]);

        $.ajax({
          url: '{{ path_for('entry.ajax.send') }}',
          contentType: 'multipart/form-data',
          data: formdata,
          cache: false,
          contentType: false,
          processData: false,
          type: 'POST',
          success: function (data, textStatus, jqXHR) {
            datatable.ajax.reload(initButtons);
            var saveDate = $('#date').val(); // Datum als Schleppfeld!
            form.reset();
            $('#id').val(''); // reset() doesn't reset hidden fields!
            $('.custom-file-label').html('Wähle eine Datei...');
            $('#date').val(saveDate);
            return true;
          },
          error: function (data, textStatus, jqXHR) {
            $("#entryForm :input").prop("disabled", false);
            alert('Bei der Verarbeitung der Eingabe ist ein Fehler aufgetreten!');
            return false;
          }
        });
      }
    });

    $('#entryReset').click(function (event) {
      event.preventDefault();
      $('#entryForm')[0].reset();
      $('#id').val(''); // reset() doesn't reset hidden fields!
      $('.custom-file-label').html('Wähle eine Datei...');
    });


    $('#record').on('change', function (event) {
      var fileName = $(this).val();
      $(this).next('.custom-file-label').html(fileName);
    });


    // ---- helper ----

    function initButtons(json) {
      $('.entry-edit').click(function () {
        $.getJSON('{{ path_for('entry.json.get') }}', { 'id': this.dataset.id }, function (data) {
          for (i of ['id', 'date', 'title', 'title2', 'income', 'expense', 'contact']) {
            if ((i == 'income' || i == 'expense') && data[i] * 1 == 0) {
              data[i] = '';
            }
            $('#' + i).val(data[i]);
          }
          $('#category').val(data['category']);
        });
      });
      $('.entry-del').click(function () {
        var url = this.href;

        $('#modalItem').html(this.dataset.item);
        $('#modalAction').html(this.dataset.action);
        $('#modalSicher .btn-danger').click(function () {
          window.location.href = url;
        });
        $('#modalSicher').modal({ 'show': true });

        return false;
      });
    };

  });
</script>

{% include 'templates/partials/choose_workshop.twig' %}
{% endblock %}