{% extends 'templates/app.twig' %}

{% block content %}
{% include 'templates/partials/choose_workshop_form.twig' %}

<h2>{{ workshop.name }} - {{ workshop.year }}</h2>
<h3 class="mt-4"><i class="zmdi zmdi-balance-wallet"></i> Einnahmenüberschussrechnung</h3>

<table>
  {% for type, data in report %}
  <tr>
    <td colspan="2" class="pt-4">
      <h3>{{ type == 'income' ? 'Einnahmen' : 'Ausgaben'}}</h3>
    </td>
  </tr>
  <tr class="border-bottom">
    <td>

    </td>
    <th class="text-right">
      EUR
    </th>
  </tr>
  {% for cat, entries in data %}
    <tr>
      <td>
        {{ cat ? cat : 'Verschiedenes' }}
      </td>
      <td class="text-right pl-2 align-top">
        {{ entries.sum|number_format(2, ',', '.') }}
      </td>
    </tr>
  {% endfor %}
  <tr class="border-top">
    <td>
      <strong>Summe</strong>
    </td>
    <td class="text-right align-top">
      <strong>{{ type == 'income' ? sum.income|number_format(2, ',', '.') : sum.expense|number_format(2, ',', '.') }}</strong>
    </td>
  </tr>

  {% endfor %}
  <tr class="border-top">
    <td class="pb-2">
      <strong>Ergebnis</strong>
    </td>
    <td class="pl-4 text-right align-top border-bottom border-bottom-dark">
      <strong {{ sum.sum < 0 ? 'style="color: #ff0000;"' : '' }}>{{ sum.sum|number_format(2, ',', '.') }}</strong>
    </td>
  </tr>
</table>
{% endblock %}


{% block javascript %}
<script type="text/javascript">
  $(document).ready(function() {

  });
</script>

{% include 'templates/partials/choose_workshop.twig' %}
{% endblock %}
