{% extends 'templates/app.twig' %}

{% block content %}
{% include 'templates/partials/choose_workshop_form.twig' %}

<h2>{{ workshop.name }} - {{ workshop.year }}</h2>
<h3 class="mt-4"><i class="zmdi zmdi-balance-wallet"></i> Einnahmenüberschussrechnung</h3>

<table>
  {% for type, data in report %}
  <tr>
    <td colspan="2" class="pt-4">
      <h3>{{ type == 'income' ? 'Einnahmen' : 'Ausgaben'}}</h3>
    </td>
  </tr>
  <tr class="border-bottom">
    <td colspan="2">

    </td>
    <th class="text-right">
      EUR
    </th>
    <th class="text-right">
      EUR
    </th>
  </tr>
  {% for cat, entries in data %}
    <tr>
      <td colspan="2" {{ loop.first ? '' : 'class="pt-4"' }}>
        <strong>{{ cat ? cat : 'Verschiedenes' }}</strong>
      </td>
    </tr>
    {% for entry in entries.entries %}
        <tr>
          <td class="pl-4 align-top">
            {{ entry.date|date("d.m.Y") }}
          </td>
          <td class="pl-2 pb-2">
              {{ entry.title}}<br />
              {{ entry.contact}}
          </td>
          <td class="pl-2 text-right align-top">
            {{ type == 'income' ? entry.income|number_format(2, ',', '.') : entry.expense|number_format(2, ',', '.') }}
          </td>
          {% if loop.last %}
          <td class="pl-2 text-right align-top">
            <strong>{{ entries.sum|number_format(2, ',', '.') }}</strong>
          </td>
          {% endif %}
        </tr>
        {% endfor %}
  {% endfor %}
  <tr class="border-top">
    <td>

    </td>
    <td colspan="2" class="pl-2 pb-2">
      <strong>Summe</strong>
    </td>
    <td class="text-right align-top">
      <strong>{{ type == 'income' ? sum.income|number_format(2, ',', '.') : sum.expense|number_format(2, ',', '.') }}</strong>
    </td>
  </tr>

  {% endfor %}
  <tr class="border-top">
    <td>

    </td>
    <td colspan="2" class="pl-2 pb-2">
      <strong>Ergebnis</strong>
    </td>
    <td class="pl-4 text-right align-top border-bottom border-bottom-dark">
      <strong {{ sum.sum < 0 ? 'style="color: #ff0000;"' : '' }}>{{ sum.sum|number_format(2, ',', '.') }}</strong>
    </td>
  </tr>
</table>
{% endblock %}


{% block javascript %}
<script type="text/javascript">
  $(document).ready(function() {

  });
</script>

{% include 'templates/partials/choose_workshop.twig' %}
{% endblock %}
