body {
  padding-top: 80px;
  padding-bottom: 80px;
}

#selectActiveWorkshop {
  float: right;
}

#selectActiveWorkshop label {
  margin-right: 6px;
}

#selectActiveWorkshop select {
  width: 300px;
}

h1 {
  margin-bottom: 24px;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

/* https://codepen.io/Victa/pen/xDqbf */
.chart {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin: 0 auto;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2) 2%, rgba(0, 0, 0, 0) 2%);
  background-size: 100% 30px;
  background-position: left top;
}

.chart li {
   position: relative;
   display: table-cell;
   vertical-align: bottom;
   height: 120px;
 }

.chart span {
    margin: 0 1em;
    display: block;
    opacity: 0.8;
    animation: draw 1s ease-in-out;
}

.chart span:before {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  padding: 5px 1em 0;
  display: block;
  text-align: center;
  content: attr(title);
  word-wrap: break-word;
}

.about li:before {
  content: '\f26e';
  font-family: 'Material-Design-Iconic-Font';
  font-style: normal;
  font-weight: 400;
  color: #c0c0c0;
  padding-right: 0.5em;
}

@keyframes draw{
  0%{height:0;}
}

.stroke {
  background-image: url(/img/stroke.png);
  background-repeat: no-repeat;
  background-position: center;
}
