{% extends 'templates/app.twig' %}

{% block content %}
<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <div class="card-header">
        <h3 class="card-titel"><i class="zmdi zmdi-folder"></i> Kategorie anlegen</h3>
      </div>
      <div class="card-body">
        <form action="{{ path_for('category.add') }}" method="post">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" placeholder="Workshop" value="{{ old.name }}" class="form-control{{ validation.name ? ' is-invalid':''}}" />
            {% if validation.name %}<span class="form-text text-danger">{{ validation.name | first }}</span>{% endif %}
          </div>
          <button type="submit" class="btn btn-default">Abschicken</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
