{% extends 'templates/app.twig' %}

{% block content %}
<h2><i class="zmdi zmdi-folder"></i> Kategorien</h2>

<p>
  <a href="{{ path_for('category.add') }}" class="btn btn-success btn-sm"><i class="zmdi zmdi-folder-star"></i> Kategorie anlegen</a>
</p>

<table class="table table-hover table-responsive-md" id="datatable" data-order='[[1, "asc"]]'>
  <thead>
    <tr>
      <th>
        Kategorie
      </th>
      <th data-orderable="false">

      </th>
    </tr>
  </thead>
  <tbody>
    {% for category in categories %}
    <tr>
      <td>
        {{ category.name }}
      </td>
      <td>
        <a href="{{ path_for('category.edit') }}?id={{ category.id }}" class="btn btn-primary btn-sm"><i class="zmdi zmdi-edit"></i></a>
        <a href="?id={{ category.id }}" class="btn btn-danger btn-sm remove-item" data-toggle="modal" data-target="#modalSicher" data-item="{{ workshop.name }}" data-action="löschen"><i class="zmdi zmdi-delete"></i></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}

{% block javascript %}
<script type="text/javascript">
  $(document).ready(function() {
    $('#datatable').DataTable({
      "language" : {
        "lengthMenu": "Zeige _MENU_ Zeile pro Seite",
        "zeroRecords": "Keine Daten gefunden!",
        "info": "Seite _PAGE_ von _PAGES_",
        "infoEmpty": "Keine Daten vorhanden!",
        "infoFiltered": "(gefiltert von _MAX_ Gesamtzeilen)"
      }
    });
  });
</script>
{% endblock %}
