{% extends 'templates/app.twig' %}

{% block content %}
<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <div class="card-header">
        <h3 class="card-titel"><i class="zmdi zmdi-wrench"></i> Workshop bearbeiten</h3>
      </div>
      <div class="card-body">
        <form action="{{ path_for('workshop.edit') }}" method="post">
          <input type="hidden" name="id" id="id" value="{{ old.id ? old.id : workshop.id }}" />
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" placeholder="Workshop" value="{{ old.name ? old.name : workshop.name }}" class="form-control{{ validation.name ? ' is-invalid':''}}" />
            {% if validation.name %}<span class="form-text text-danger">{{ validation.name | first }}</span>{% endif %}
          </div>
          <div class="form-group">
            <label for="year">Jahr</label>
            <input type="text" name="year" id="year" placeholder="2000" value="{{ old.year ? old.year : workshop.year }}" class="form-control{{ validation.year ? ' is-invalid':''}}" />
            {% if validation.year %}<span class="form-text text-danger">{{ validation.year | first }}</span>{% endif %}
          </div>
          <button type="submit" class="btn btn-default">Abschicken</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
