{% extends 'templates/app.twig' %}

{% block content %}
<h2><i class="zmdi zmdi-wrench"></i> Workshops</h2>

<p>
  <a href="{{ path_for('workshop.add') }}" class="btn btn-success btn-sm"><i class="zmdi zmdi-plus"></i> Workshop anlegen</a>
</p>

<table class="table table-hover table-responsive-md" id="datatable" data-order='[[1, "desc"]]'>
  <thead>
    <tr>
      <th>
        Workshop
      </th>
      <th>
        Jahr
      </th>
      <th>
        Bild
      </th>
      <th>
        Status
      </th>
      <th data-orderable="false">

      </th>
    </tr>
  </thead>
  <tbody>
    {% for workshop in workshops %}
    <tr>
      <td>
        {{ workshop.name }}
      </td>
      <td>
        {{ workshop.year }}
      </td>
      <td>
        {# Todo: Code for image  #}
      </td>
      <td>
        {{ workshop.status == 'open' ? 'offen' : 'beendet' }}
      </td>
      <td>
        <a href="{{ path_for('workshop.edit') }}?id={{ workshop.id }}" class="btn btn-primary btn-sm"><i class="zmdi zmdi-edit"></i></a>
        {% if workshop.status == 'open' %}
        <a href="{{ path_for('workshop.close') }}?id={{ workshop.id }}" class="btn btn-warning btn-sm"><i class="zmdi zmdi-pause"></i></a>
        {% else %}
        <a href="{{ path_for('workshop.open') }}?id={{ workshop.id }}" class="btn btn-success btn-sm"><i class="zmdi zmdi-play"></i></a>
        {% endif %}
        <a href="{{ path_for('workshop.delete') }}?id={{ workshop.id }}" class="btn btn-danger btn-sm remove-item" data-toggle="modal" data-target="#modalSicher" data-item="{{ workshop.name }}" data-action="löschen"><i class="zmdi zmdi-delete"></i></a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}

{% block javascript %}
<script type="text/javascript">
  $(document).ready(function() {
    $('#datatable').DataTable({
      "language" : {
        "lengthMenu": "Zeige _MENU_ Zeile pro Seite",
        "zeroRecords": "Keine Daten gefunden!",
        "info": "Seite _PAGE_ von _PAGES_",
        "infoEmpty": "Keine Daten vorhanden!",
        "infoFiltered": "(gefiltert von _MAX_ Gesamtzeilen)"
      }
    });
  });
</script>
{% endblock %}
