<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF8" />
  <title>Rodgauer Workshop</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.css"/>

  <link rel="stylesheet" href="{{ base_url() }}/css/bootstrap-submenu.min.css">
  <link rel="stylesheet" href="{{ base_url() }}/css/main.css" />
</head>
<body>
  {% include 'templates/partials/navigation.twig' %}


  <div class="container">
    {% include 'templates/partials/flash.twig' %}
    {% block content %}{% endblock %}
  </div>

  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.js"></script>
  <!-- https://jqueryvalidation.org/ -->
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/additional-methods.min.js"></script></script>
  <!-- https://github.com/vsn4ik/bootstrap-submenu -->
  <script src="{{ base_url() }}/js/bootstrap-submenu.min.js" defer></script>

  <!-- Modal -->
  <div class="modal fade" id="modalSicher" tabindex="-1" role="dialog" aria-labelledby="Sicherheitsfrage" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header bg-danger text-white">
          <h5 class="modal-title" id="exampleModalLabel"><i class="zmdi zmdi-alert-triangle"></i> Vorsicht!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="text-white" aria-hidden="true"><i class="zmdi zmdi-close"></i></span>
          </button>
        </div>
        <div class="modal-body">
          Wollen Sie die den Eintrag "<span id="modalItem">Datensatz</span>" wirklich <span id="modalAction">action</span>?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
          <button type="button" class="btn btn-danger">Ja</button>
        </div>
      </div>
    </div>
  </div>

  <nav class="navbar fixed-bottom navbar-dark bg-dark">
    <div class="container">
      <div class="text-secondary small float-right">
      <a href="{{ path_for('about') }}" class="text-secondary">Homemade FiBu {{ fibuversion|raw }}</a>
      </div>
      <div class="text-secondary small">
        &copy; 2018 - {{ "now"|date('Y') }} by <a href="https://www.rodgauer-workshop.de" class="text-secondary">Rodgauer Workshop</a>
      </div>
    </div>
  </nav>

  <script type="text/javascript">
    $(function () {
      $('a.remove-item').click(function () {
        var url = this.href;

        $('#modalItem').html(this.dataset.item);
        $('#modalAction').html(this.dataset.action);
        $('#modalSicher .btn-danger').click(function () {
          window.location.href = url;
        });
      });

      $('[data-submenu]').submenupicker();
    });
  </script>
  {% block javascript %}{% endblock %}
</body>
</html>
