<form id="selectActiveWorkshop" class="d-print-none">
  <div class="form-group">
    <label><i class="zmdi zmdi-wrench"></i></label>
    <select id="activeWorkshop" class="custom-select" name="activeWorkshop">
    </select>
  </div>
</form>