<script type="text/javascript">
  $(document).ready(function() {
    let dropdown = $('#activeWorkshop');

    dropdown.empty();

    dropdown.append('<option selected="true" disabled>Workshop wählen</option>');
    dropdown.prop('selectedIndex', 0);

    const url = '{{ path_for('workshop.json') }}';

    // Populate dropdown with list of provinces
    $.getJSON(url, function (data) {
      $.each(data, function (key, entry) {
        if (entry.id == '{{ session.workshop }}') {
          dropdown.append($('<option></option>').attr('value', entry.id).attr('selected', 'selected').text(entry.year + " - " + entry.name));
        } else {
          dropdown.append($('<option></option>').attr('value', entry.id).text(entry.year + " - " + entry.name));
        }
      })
    });


    $('#activeWorkshop').change( function() {
        selected = this.options[this.selectedIndex].value;

        $.post({
          url: '{{ path_for('workshop.setActive') }}',
          data: {id: selected},
          success: function(data){location.reload();}
        });
    });
  });
</script>
