<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container">
    <a class="navbar-brand" href="{{ path_for('home') }}"><img src="/img/logo.svg" title="Rodgauer Workshop" alt="RW"
        height="32px" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        {% if auth.check %}
        <li class="nav-item">
          <a class="nav-link" href="{{ path_for('home') }}"><i class="zmdi zmdi-eye"></i> Übersicht<span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" id="workshopmenu" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false" data-submenu><i class="zmdi zmdi-wrench"></i> Workshops</a>
          <div class="dropdown-menu" aria-labelledby="dropdown03">
            <a class="dropdown-item" href="{{ path_for('workshop.index') }}"><i class="zmdi zmdi-edit"></i> Workshops
              verwalten</a>
            <a class="dropdown-item" href="{{ path_for('entry.index') }}"><i class="zmdi zmdi-balance-wallet"></i>
              Umsätze erfassen</a>
            <div class="dropdown dropright dropdown-submenu">
              <a class="dropdown-item dropdown-toggle" data-toggle="dropdown"><em class="zmdi zmdi-chart"></em>
                Auswertungen</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{{ path_for('entry.report.full') }}"><i class="zmdi zmdi-chart"></i>
                  Volle Auswertung</a>
                <a class="dropdown-item" href="{{ path_for('entry.report.short') }}"><i class="zmdi zmdi-chart"></i>
                  Kurze Auswertung</a>
                <a class="dropdown-item" href="{{ path_for('entry.report.csv') }}"><i class="zmdi zmdi-download"></i>
                  Export als CSV</a>
              </div>
            </div>
          </div>
        </li>
        <!-- li class="nav-item">
          <a class="nav-link" href="#">Kontakte</a>
        </li -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="adminmenu" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false"><i class="zmdi zmdi-settings"></i> Administration</a>
          <div class="dropdown-menu" aria-labelledby="dropdown02">
            <a class="dropdown-item" href="{{ path_for('auth.list') }}"><span class="zmdi zmdi-accounts"></span>
              Benutzerverwaltung</a>
            <a class="dropdown-item" href="{{ path_for('category.index') }}"><span class="zmdi zmdi-folder"></span>
              Kategorien verwalten</a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" id="usermenu" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false"><i class="zmdi zmdi-account"></i> {{ auth.user.name }}</a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="{{ path_for('auth.edit') }}?id={{auth.user.id}}"><i
                class="zmdi zmdi-account-circle"></i> Profil</a>
            <a class="dropdown-item" href="{{ path_for('auth.change_pwd') }}?id={{auth.user.id}}"><i
                class="zmdi zmdi-key"></i> Passwort ändern</a>
            <a class="dropdown-item" href="{{ path_for('auth.logout') }}"><i class="zmdi zmdi-sign-in"></i> Abmelden</a>
          </div>
        </li>
      </ul>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{{ path_for('auth.login') }}">Login</a>
      </li>
      {% endif %}
    </div>
  </div>
</nav>